/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-12-2018, 22:41:28
    Author     : KristianUrup
*/


.background {
    -fx-background-color: #1d1d1d;
}

.label {
    -fx-font-size: 15pt;
    -fx-font-family: "Berlin Sans FB Demi";
    -fx-text-fill: red;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Berlin Sans FB Demi";
    -fx-text-fill: #A83F39;
    -fx-opacity: 0.6;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Berlin Sans FB Demi";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}   

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #a83f39   ;
    -fx-background-color: #A83F39;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
    -fx-cursor:hand;
    -fx-opacity: 0.6;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
    -fx-border-color: black;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-family: "SBerlin Sans FB Demi";
    -fx-alignment: center-left;
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: black;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
    -fx-opacity: 0.7;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Berlin Sans FB Demi";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 9pt;
    -fx-font-family: "Berlin Sans FB Demi";
    -fx-opacity: 0.6;
}

/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-border-radius: 7 7 7 7;
    -fx-background-radius: 7 7 7 7;
    -fx-padding: 4 15 4 15;   
    -fx-border-width: 3;
    -fx-border-color: #A83F39;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Berlin Sans FB Demi"/*, Helvetica, Arial, sans-serif*/;
    -fx-effect: dropshadow( three-pass-box, #a83f39, 17.0, 0.0, 0.0, 0.0);
    -fx-font-size: 9pt;
    -fx-text-fill: #A83F39;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-opacity: 0.9;
    -fx-cursor:hand;
}

.button-sliders
{
    -fx-opacity: 0.6;
    -fx-color: #1d1d1d;
    -fx-control-inner-background: #A83F39;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #A83F39;
  -fx-opacity: 0,6;
  -fx-text-fill: #3a3a3a;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
    -fx-border-radius: 7 7 7 7;
    -fx-border-background: 7 7 7 7;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.6;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.text-field{
    -fx-background-color: #A83F39;
    -fx-opacity: 0.6;
}

.separator{
    -fx-opacity: 0.6;
    -fx-border-color: #A83F39;
    -fx-border-width: 4;
    -fx-background-color: #A83F39;
}